
@font-face {
  font-family: "Open Sans";
  src: url("/web_backend_theme/static/src/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/web_backend_theme/static/src/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #B2B200;
}

.btn-floating {
  color: #FFFFFF;
  background-color: #B2B200;
}

.btn-floating:hover {
  background-color: #B2B200;
}

.o_button_import {
  height: 28px;
}

.oe_button.oe_highlight, .oe_button.btn-primary {
  background-color: #B2B200;
  border-color: #B2B200;
}

.oe_button.oe_highlight:hover, .oe_button.btn-primary:hover {
  color: #FFFFFF;
  background-color: #B2B200;
  border-color: #B2B200;
}

.btn:hover, .btn-large:hover {
  background-color: #7F7F00;
}

.btn-link {
  color: #B2B200;
}

.btn-default.disabled, .btn-default[disabled] {
  background-color: #B2B200;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background-color: #B2B200;
  border-radius: 0;
}

.o_required_modifier.o_input, .o_required_modifier .o_input {
  background-color: #EFEFCC !important;
}

.o_mail_systray_item .o_notification_counter {
  background: #B2B200;
}

fieldset[disabled] .btn-default {
  background-color: #B2B200;
}

.btn-default.disabled:hover, .btn-default[disabled]:hover {
  background-color: #B2B200;
}

fieldset[disabled] .btn-default:hover {
  background-color: #B2B200;
}

.btn-default.disabled:focus, .btn-default[disabled]:focus {
  background-color: #B2B200;
}

fieldset[disabled] .btn-default:focus {
  background-color: #B2B200;
}

.btn-default.disabled.focus, .btn-default[disabled].focus {
  background-color: #B2B200;
}

fieldset[disabled] .btn-default.focus {
  background-color: #B2B200;
}

.btn-default.disabled:active, .btn-default[disabled]:active {
  background-color: #B2B200;
}

fieldset[disabled] .btn-default:active {
  background-color: #B2B200;
}

.btn-default.disabled.active, .btn-default[disabled].active {
  background-color: #B2B200;
}

fieldset[disabled] .btn-default.active {
  background-color: #B2B200;
}

.oe_list_content > tbody > tr:nth-child(odd) {
  background-color: #FCFCFC !important;
  background-image: none !important;
}

input[type="radio"]:before, .radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  background-color: #B2B200;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #B2B200;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #B2B200;
  border-color: #B2B200;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #B2B200;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #B2B200;
  box-shadow: 0 1px 0 0 #B2B200;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label {
  color: #B2B200;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #B2B200;
  box-shadow: 0 1px 0 0 #B2B200;
}

textarea.materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
  color: #B2B200;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #B2B200;
  border-bottom: 2px solid #B2B200;
}

[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid #B2B200;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #B2B200;
  background-color: #B2B200;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  background-color: #B2B200;
  border-color: #B2B200;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #B2B200;
}

input[type=range] + .thumb {
  background-color: #B2B200;
}

input[type=range] + .thumb .value {
  color: #B2B200;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #B2B200;
}

input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
  background: #B2B200;
}

.oe_highlight:focus, .oe_highlight.focus, .oe_highlight:hover, .oe_highlight:active, .oe_highlight.active {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.open > .dropdown-toggle.oe_highlight {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight:active:hover, .oe_highlight.active:hover {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.open > .dropdown-toggle.oe_highlight:hover {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight:active:focus, .oe_highlight.active:focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.open > .dropdown-toggle.oe_highlight:focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight:active.focus, .oe_highlight.active.focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.open > .dropdown-toggle.oe_highlight.focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled, .oe_highlight[disabled] {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled:hover, .oe_highlight[disabled]:hover {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight:hover {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled:focus, .oe_highlight[disabled]:focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight:focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled.focus, .oe_highlight[disabled].focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight.focus {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled:active, .oe_highlight[disabled]:active {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight:active {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

.oe_highlight.disabled.active, .oe_highlight[disabled].active {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

fieldset[disabled] .oe_highlight.active {
  background: #7F7F00 !important;
  color: #FFFFFF !important;
  border-color: #B2B200 !important;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #FFFFFF;
}

[type="radio"]:checked + label:after {
  border: 2px solid #B2B200;
}

[type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #B2B200;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  z-index: 0;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before {
  color: #B2B200 !important;
  background-color: #FFFFFF;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23B2B200'/%3E%3C/svg%3E");
}

.o_loading {
  padding: 5px 30px;
  text-align: center;
  background: #B2B200;
  border: 1px solid #B2B200;
  border-radius: 0 !important;
}

.o_thread_window {
  height: 340px;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.o_thread_window .o_thread_window_header {
  background-color: #B2B200;
  padding: 8px;
}

.o_thread_window .o_chatter_composer_tools button.btn.fa {
  height: 39px;
}

.modal-dialog input[type="radio"]:before,
.modal-dialog .radio input[type="radio"]:before,
.modal-dialog .radio-inline input[type="radio"]:before {
  background-color: #B2B200;
}

.modal-dialog input[type="radio"]:checked:after,
.modal-dialog .radio input[type="radio"]:checked:after,
.modal-dialog .radio-inline input[type="radio"]:checked:after {
  border-color: #B2B200;
}

.modal-dialog input[type="checkbox"]:checked:after,
.modal-dialog .checkbox input[type="checkbox"]:checked:after,
.modal-dialog .checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #B2B200;
  border-color: #B2B200;
}

.o_web_client > .o_main .o_sub_menu {
  -ms-flex: 0 0 240px;
  -moz-flex: 0 0 240px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 240px;
  flex: 0 0 240px;
  width: 240px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -ms--webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  -moz--webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  -webkit--webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  background-color: #B2B200;
}

.o_web_client.cover_bg > .o_main .o_sub_menu {
  background-color: transparent !important;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_logo {
  -ms--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -moz--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  text-align: center;
  position: relative;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_logo {
  -ms--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -moz--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit--webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  text-align: center;
  position: relative;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_logo > img {
  margin: 5px auto;
}

.o_main {
  font-family: "Roboto", sans-serif;
}

.o_main .o_sub_menu.fix_icon_width {
  flex: 0 0 80px;
}

.o_main .o_sub_menu .o_sub_menu_content {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 107px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu {
  border-bottom: 1px solid rgba(252, 252, 252, 0.18);
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu:hover {
  background-color: #7F7F00;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu:hover .iconic_menu.oe_secondary_menu {
  display: block !important;
  margin-top: -88px !important;
  overflow: auto !important;
  width: 230px;
  position: fixed;
  z-index: 2000;
  left: 97px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #FFFFFF;
  max-height: 280px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu:hover .iconic_menu.oe_secondary_menu .side_menu_heading {
  display: block;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading {
  color: #FFFFFF;
  padding: 12px 10px 12px 15px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.17em;
  cursor: pointer;
  font-weight: normal !important;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading a {
  color: #FFFFFF;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading a i {
  padding-right: 10px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading i {
  padding-right: 10px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading.iconic_menu_heading {
  padding: 12px 0 12px 0;
  text-align: center;
  font-size: 1em;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading.iconic_menu_heading .menu_title {
  display: block;
  padding-top: 5px;
  padding-right: 10px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading.iconic_menu_heading i {
  font-size: 1.2em;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .side_menu_heading {
  background-color: #7F7F00;
  color: #FFFFFF;
  padding: 12px 13px 12px 13px;
  margin: 0;
  font-weight: normal !important;
  text-align: left;
  display: none;
  font-family: "Open Sans", sans-serif;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .oe_secondary_menu_section {
  font-weight: 300;
  background-color: #7F7F00;
  color: #FFFFFF;
  /*#1a1a1a;*/
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px 5px 5px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-left: 0;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .oe_secondary_menu_section:first-child {
  border-top: none;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .oe_secondary_menu_section > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .oe_secondary_menu_section .oe_menu_leaf {
  color: #FFFFFF;
  font-weight: normal;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu {
  background-color: #7F7F00;
  margin: 0 !important;
  line-height: 1.3em;
  padding: 0;
  border-bottom: 1px solid #B2B200;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li a {
  color: #FFFFFF;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li a:hover {
  background-color: #B2B200;
  border-radius: 0;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li a:focus {
  background-color: #7F7F00;
  outline: none;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li .oe_menu_toggler:before {
  float: left;
  width: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f105";
  font-weight: 300;
  text-shadow: none;
  text-align: left;
  border: 0;
  text-indent: 1px;
  opacity: 1;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li .oe_menu_toggler.active:before {
  content: "\f107";
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li.active a {
  background-color: #B2B200;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu .oe_menu_text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 83%;
  margin-top: 1px;
}

.o_main .o_sub_menu .o_sub_menu_footer {
  background: #B2B200;
  color: #FFFFFF;
}

.o_main .o_sub_menu .o_sub_menu_footer a span {
  color: #FFFFFF !important;
  font-style: italic;
  font-weight: normal;
}

.o_main .o_searchview {
  padding-left: 1px;
}

.o_main .o_searchview .o_searchview_input {
  margin: 0 0 0 3px;
}

.o_main .o_searchview .o_searchview_input:focus, .o_main .o_searchview .o_searchview_input:hover, .o_main .o_searchview .o_searchview_input:active {
  border-bottom: none;
  box-shadow: none;
}

.o_main .o_searchview .o_searchview_search {
  background: #B2B200;
}

.o_main .o_searchview .o_searchview_facet {
  border: none;
  background: #EFEFCC;
  margin: 2px 3px 0 3px;
}

.o_main .o_searchview .o_searchview_facet:focus {
  outline: none;
}

.o_main .o_searchview .o_searchview_facet .o_facet_remove {
  color: #B2B200;
  width: 12px;
  height: 13px;
  margin: 3px;
}

.o_main .o_searchview .o_searchview_facet .o_facet_remove:hover {
  background: #FFFFFF;
}

.o_main .o_searchview .o_searchview_facet .o_searchview_facet_label {
  color: #B2B200;
  background-color: #EFEFCC;
}

.o_main .o_searchview .o_searchview_facet .o_facet_values {
  color: #B2B200;
  background: #EFEFCC;
}

.o_main .o_searchview .o_searchview_facet .o_facet_values .o_facet_value {
  color: #B2B200;
}

.o_main .o_searchview .o_searchview_unfold_drawer {
  color: #B2B200;
}

.o_main .o_searchview .o_searchview_autocomplete {
  border: 1px solid #B2B200;
}

.o_main .o_searchview .o_searchview_autocomplete li.o-selection-focus {
  background-color: #B2B200;
}

.o_main .o_main_content .o_control_panel {
  background-color: #FCFCFC;
  border-bottom: none;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.o_main .o_main_content .o_control_panel .breadcrumb {
  background-color: inherit;
}

.o_main .o_main_content .o_control_panel .breadcrumb li > a {
  color: #B2B200;
}

.o_main .o_main_content .o_control_panel .oe-cp-pager button:disabled {
  color: #777777;
}

.o_main .o_main_content .o_control_panel .btn:focus, .o_main .o_main_content .o_control_panel .btn:active {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_main .o_main_content .o_control_panel .dropdown-menu > li > a:hover, .o_main .o_main_content .o_control_panel .dropdown-menu > li > a:focus {
  background-color: #B2B200;
  color: #FFFFFF;
}

.o_main .o_main_content .o_control_panel .dropdown-menu > li.selected {
  background-color: #B2B200;
  color: #FFFFFF;
}

.o_main .o_main_content .o_control_panel .dropdown-menu > li.selected > a {
  background-color: #B2B200;
  color: #FFFFFF;
}

.o_main .o_main_content .o_control_panel a.toogle_control_panel {
  color: #B2B200;
}

.o_main .o_main_content .o_control_panel a.toogle_control_panel:focus, .o_main .o_main_content .o_control_panel a.toogle_control_panel:hover, .o_main .o_main_content .o_control_panel a.toogle_control_panel:active {
  color: #7F7F00;
}

.o_main .o_main_content .btn:hover {
  color: #FFFFFF;
}

.o_main .o_main_content .oe_button.oe_link, .o_main .o_main_content .oe_button.btn-link {
  color: #B2B200;
}

.o_main .o_main_content .dropdown-menu > li > a:hover, .o_main .o_main_content .dropdown-menu > li > a:focus {
  background-color: #B2B200;
  color: #FFFFFF;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li {
  background-color: #FFFFFF;
  background-image: none;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li:first-child > .label, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li:first-child > .label, .o_main .o_main_content .o_form_view ul.oe_form_status li:last-child, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li:last-child {
  border-left: 1px solid #B2B200;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li > .label, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li > .label {
  color: #B2B200;
  text-shadow: none;
  border-radius: 0;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li > .arrow, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li > .arrow {
  background-color: #FFFFFF;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li > .arrow span, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li > .arrow span {
  border: 1px solid #B2B200;
  background-color: #FFFFFF;
  box-shadow: none;
  background: #FFFFFF;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li.oe_active, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li.oe_active {
  background-color: #B2B200;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li.oe_active > span, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li.oe_active > span {
  color: #FFFFFF;
}

.o_main .o_main_content .o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_main .o_main_content .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #B2B200;
}

.o_main .o_main_content .o_form_view > .btn.oe_button {
  color: #B2B200;
  background-color: #FFFFFF;
}

.o_main .o_main_content .o_form_view > .btn.btn-primary, .o_main .o_main_content .o_form_view > .btn.oe_highlight {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_main .o_main_content .o_form_view a {
  color: #B2B200;
}

.o_main .o_main_content .o_form_view .o_form_field.o_form_field_many2one .o_external_button {
  padding: 0;
  margin-left: 2px;
  font-size: 19px;
  color: #B2B200;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 2px 5px 0 transparent, 0 2px 10px 0 transparent;
}

.o_main .o_main_content .o_form_view .o_form_field.o_form_field_many2one .o_external_button:hover {
  background-color: transparent;
}

.o_main .o_main_content .oe_form_field_many2one .oe_m2o_cm_button {
  color: #B2B200;
}

.o_main .o_main_content .oe_chatter .btn:focus, .o_main .o_main_content .oe_chatter .btn:active {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_main .o_main_content .o_calendar_container .o_calendar_view .o_calendar_widget .fc-week-number, .o_main .o_main_content .o_calendar_container .o_calendar_view .o_calendar_widget thead .fc-widget-header {
  background-color: #B2B200 !important;
  color: #FFFFFF !important;
  font-size: 13px;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header {
  color: #FFFFFF;
  background-color: #B2B200;
  border: 1px solid #B2B200;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header a {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header a:hover {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table.ui-datepicker-calendar thead {
  color: #FFFFFF;
  background-color: #B2B200;
  border-radius: 0;
  border-bottom: none;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table.ui-datepicker-calendar thead th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 0;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table.ui-datepicker-calendar tbody td a {
  color: #777;
  background-color: #FFFFFF;
  text-align: center;
}

.o_main .o_main_content .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-active {
  color: #FFFFFF;
  background-color: #B2B200;
  border-radius: 2px;
}

.nav-tabs > li > a {
  color: #B2B200;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #B2B200;
  box-shadow: inset 0 -2px 0 #B2B200;
  color: #B2B200;
}

.nav-tabs > li.active > a {
  -webkit-box-shadow: inset 0 -2px 0 #B2B200;
  box-shadow: inset 0 -2px 0 #B2B200;
  color: #B2B200;
}

.nav-tabs > li.active > a:focus {
  -webkit-box-shadow: inset 0 -2px 0 #B2B200;
  box-shadow: inset 0 -2px 0 #B2B200;
  color: #B2B200;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
  color: #B2B200;
}

.o_cp_switch_buttons button {
  height: 30px;
}

.side-nav a.btn:hover, .side-nav a.btn-large:hover {
  background-color: #7F7F00;
}

.side-nav a.btn-floating:hover {
  background-color: #B2B200;
}

.spinner-layer {
  border-color: #B2B200;
}

.picker__date-display {
  background-color: #B2B200;
}

.picker__day.picker__day--today {
  color: #B2B200;
}

.picker__day--selected {
  background-color: #B2B200;
  color: #FFFFFF;
}

.picker__day--selected:hover {
  background-color: #B2B200;
  color: #FFFFFF;
}

.picker--focused .picker__day--selected {
  background-color: #B2B200;
  color: #FFFFFF;
}

.picker__close, .picker__today {
  color: #B2B200;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active {
  box-shadow: inset 3px 0 0 #B2B200;
}

.o_mail_discuss .o_mail_annoying_notification_bar {
  background-color: #B2B200;
}

.o_mail_discuss .o_mail_discuss_content .o_thread_composer {
  border-top: 1px solid #eee;
  background-color: #FFFFFF;
}

.o_mail_discuss .o_composer_send button.o_composer_button_send {
  height: 42px;
  border: none !important;
  padding: 7px 15px !important;
}

.o_horizontal_separator {
  color: #B2B200 !important;
}

.o_form_image_controls {
  background-color: #B2B200 !important;
}

.o_form_uri {
  color: #B2B200 !important;
}

.o_form_uri:first-line {
  color: #B2B200 !important;
}

.o_form_uri:hover {
  color: #e74838;
}

.o_form_uri:hover:first-line {
  color: #c22617 !important;
}

.o_tooltip {
  border-color: #B2B200 !important;
}

.o_tooltip.right::before {
  border-right-color: #B2B200;
}

.o_tooltip.top::before {
  border-top-color: #B2B200;
}

.o_tooltip.left::before {
  border-left-color: #B2B200;
}

.o_tooltip.bottom::before {
  border-bottom-color: #B2B200;
}

.o_tooltip::after {
  border-color: #B2B200;
  background: radial-gradient(#ec695d, #B2B200);
}

.o_tooltip.active.right::before {
  border-right-color: #B2B200;
}

.o_tooltip.active.top::before {
  border-top-color: #B2B200;
}

.o_tooltip.active.left::before {
  border-left-color: #B2B200;
}

.o_tooltip.active.bottom::before {
  border-bottom-color: #B2B200;
}

.o_kanban_view h4 {
  font-size: 16px;
  font-weight: bold;
}

.o_kanban_view .az_box .card_header {
  background-color: #B2B200;
}

.o_kanban_view .az_box .card_details a:hover, .o_kanban_view .az_box .card_details .az_location a:hover, .o_kanban_view .az_box .card_details .oe_kanban_partner_links a:hover {
  color: #B2B200;
}

.o_kanban_view .az_box .card_details .card_contact li a:hover {
  color: #B2B200;
}

.o_kanban_view .az_box .card_details .card_contact li a:hover i {
  color: #B2B200;
}

.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required .o_form_textarea, .o_form_view .o_form_required.o_form_textarea {
  background-color: #EFEFCC;
}

.o_form_view .oe_link:hover, .o_form_view .oe_link:focus {
  color: #B2B200 !important;
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item > .badge {
  color: #7F7F00;
  background-color: #FFFFFF;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main {
  background-color: #B2B200;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main:hover {
  background-color: #d82a1a;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main a {
  color: white;
}

.badge {
  color: #FFFFFF;
  background-color: #B2B200;
}

.o_kanban_view.o_kanban_dashboard.o_project_kanban .o_project_kanban_boxes .o_project_kanban_box:nth-child(odd), .o_kanban_view.o_event_kanban_view .o_kanban_record .o_event_left {
  background-color: #B2B200;
}

.o_web_client .o_export .o_export_panel > div .o_export_tree_item.o_selected > .o_tree_column {
  background-color: #B2B200;
  color: #FFFFFF;
}

.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu:hover,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .menu_heading.active:hover,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .side_menu_heading,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li a:focus,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li a:hover,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu li.active a {
  background-color: rgba(200, 200, 200, 0.2) !important;
}

.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu:hover .oe_secondary_menu:not(.iconic_menu),
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu:not(.iconic_menu) .oe_secondary_menu_section {
  background-color: rgba(200, 200, 200, 0.2) !important;
}

.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu ul.oe_secondary_submenu {
  background-color: rgba(200, 200, 200, 0.2) !important;
  border-bottom: 1px solid rgba(200, 200, 200, 0.4) !important;
}

.o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu .oe_secondary_menu_section
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu.iconic_menu,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu.iconic_menu .side_menu_heading,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu.iconic_menu .oe_secondary_menu_section,
.cover_bg .o_main .o_sub_menu .o_sub_menu_content .cssmenu .oe_secondary_menu.iconic_menu ul.oe_secondary_submenu {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.o_main_navbar > ul > li > a,
.o_main_navbar > ul > li > label {
  color: #B2B200;
}

.o_main_navbar > ul > li > a:hover,
.o_main_navbar > ul > li > label:hover {
  color: #B2B200;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
  background-color: #FFFFFF;
  color: #B2B200 !important;
}

.o_form_view .oe_button_box .oe_stat_button,
.o_form_view .oe_button_box .btn .o_button_icon,
.o_form_view .oe_button_box .btn .o_stat_info .o_stat_value,
.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_text,
.o_form_view .oe_button_box .oe_stat_button > span .o_stat_text {
  color: #B2B200 !important;
  background-color: #FFFFFF !important;
  color: #B2B200 !important;
}

#NotebookAccordion .panel {
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
}

#NotebookAccordion .panel-heading {
  padding: 0;
  border-radius: 0;
  text-align: center;
  border: none;
}

#NotebookAccordion .panel-title {
  display: block;
  cursor: pointer;
  text-align: left;
  padding: 12px;
  font-size: 15px;
  color: #FFFFFF;
  background: #B2B200;
  transition: all 0.5s ease 0s;
  font-family: "Roboto", sans-serif;
}

#NotebookAccordion .panel-title:hover {
  background: #B2B200;
  color: #FFFFFF;
}

#NotebookAccordion .panel-title i {
  font-size: 14px;
}

#NotebookAccordion .panel-title span {
  padding-left: 22px;
}

#NotebookAccordion .collapsed .panel-title {
  color: #B2B200;
  background: #EFEFCC;
}

#NotebookAccordion .panel-body {
  padding: 15px 0;
  position: relative;
  border-color: transparent;
}

#NotebookAccordion .panel-body:after {
  content: "";
  position: absolute;
  top: -24px;
  left: 24px;
  border: 10px solid transparent;
  border-bottom: 13px solid #FFF;
}

.appstheme .o_main_navbar {
  border-bottom: 1px solid transparent;
  background-color: #B2B200;
}

.appstheme > header > .o_main_navbar > ul > li > a {
  color: #FFFFFF;
}

.appstheme > header > .o_main_navbar > ul > li > a:hover {
  color: #B2B200;
}

.appstheme > header > .o_main_navbar .show .dropdown-toggle {
  color: #B2B200;
  background-color: #FFFFFF;
}

.appstheme .o_main_navbar > a:hover,
.appstheme .o_main_navbar > a:focus,
.appstheme .o_main_navbar > button:hover,
.appstheme .o_main_navbar > button:focus {
  background-color: #B2B200;
}

.small_device_menu_one a {
  color: #B2B200 !important;
}

.o_web_client .o_mobile_search .o_mobile_search_header {
  height: 50px;
  background-color: #B2B200;
}

.theme-switcher input:checked + .slider {
  background-color: #B2B200;
}

@media (max-width: 767px) {
  .o_mail_mobile_tabs .o_mail_mobile_tab.active > span {
    color: #B2B200;
  }
}